@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&family=Open+Sans:ital,wght@1,800&display=swap');

:root {
    /* color */
    --color-black: #1E1E1E;
    --color-gray: #A7A7AC;
    --color-white: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 92%;
    /*height: 10000px;*/
}

body {
    background-color: var(--color-black);
    overflow: hidden visible;

    &.no_scroll {
        overflow: hidden;
    }
}

header {
    position: fixed;
    display: flex;
    justify-content: center;
    background-color: var(--color-black);
    width: 100%;
    height: var(--menu-height);
    top: 0;
    z-index: 3;

    & > #nav-bar {
        display: flex;
        width: 90%;
        height: 100%;
        align-items: center;
        justify-content: space-between;
    }
}

footer {
    position: relative;
    width: 100%;
    height: 8em;
    font-size: 220%;
    background-color: var(--color-black);

    & > div {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: var(--color-gray);
        font-weight: bold;
        letter-spacing: 0.05em;

        & > img {
            filter: grayscale(100%);
        }
    }
}

button {
    border: unset;
    background-color: unset;
}

#meta-full-svg {
    height: calc(var(--menu-height) * 0.5);
}

#menu-btn {
    background-color: unset;
    border: unset;
    & > svg {
        width: calc(var(--menu-height) * 0.5);
        height: calc(var(--menu-height) * 0.5);

        & > #menu-svg1,
        #menu-svg2 {
            transition: 0.3s;
            opacity: 1;
            transform: translate(0);
        }

        &.active {
            & > #menu-svg1 {
                opacity: 0;
                transform: translateY(8px);
            }
            & > #menu-svg2 {
                opacity: 0;
                transform: translateY(-8px);
            }
        }
    }
}

#menu {
    position: fixed;
    width: 100%;
    height: var(--menu-height);
    background-color: var(--color-black);
    transition: 0.5s ease-in-out;
    overflow: hidden;
    top: 0;
    z-index: 2;
}

#content {
    margin-top: var(--menu-height);
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 280px) and (max-device-width : 480px) {
    :root {
        /* size */
        --menu-height: 12rem
    }

    footer > div > img {
        width: 2.4em;
    }

    #menu.menu_open {
        height: 100vh;
    }

    #content {
        font-size: 260%;
    }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    /* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    /* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    /* Styles */
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
    /* Styles */
}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
    /* Styles */
}

/* iPhone 4 and high pixel ratio devices ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
    /* Styles */
}
