<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>META</title>
    <link rel="icon" href="/static/favicon.svg" type="image/x-icon"/>
    <link rel="stylesheet" href="/static/style/main.css"/>
    <link rel="stylesheet" href="/static/style/home.css"/>
</head>
<body>
<header>
    <nav id="nav-bar">
        <a href="/">
            <img src="/static/image/meta_full(white).svg" id="meta-full-svg">
        </a>
        <button id="menu-btn" onclick="menuToggle()">
            <svg id="menu-svg" width="400" height="400" viewBox="0 0 40 40">
                <path id="menu-svg1" fill="#FFFFFF" fill-rule="evenodd" clip-rule="evenodd" d="M33.3327 10H6.66602V15H33.3327V10Z"></path>
                <path fill="#FFFFFF" fill-rule="evenodd" clip-rule="evenodd" d="M6.66602 18.3317H33.3327V23.3317H6.66602V18.3317Z"></path>
                <path id="menu-svg2" fill="#FFFFFF" fill-rule="evenodd" clip-rule="evenodd" d="M6.66602 26.665H33.3327V31.665H6.66602V26.665Z"></path>
            </svg>
        </button>
    </nav>
</header>
<ul id="menu">
    {#  여기다가 뭐 넣지...  #}
</ul>
<div id="content">
    <div class="container">
        <div class="header-wrap">
            <div class="title">
                <div>The free space </div>
                <div>for creation.</div>
            </div>
            <div class="description">
                어쩌고 저쩌고 자유로운 공간을 추구합니다
            </div>
        </div>

        <img id="icon" src="/static/image/meta_icon(white).svg"/>
    </div>
</div>
<footer>
    <div>
        서울고등학교 기계공학부
        <br>
        META
    </div>
</footer>
<script src="/static/script/menu.js"></script>
</body>
</html>