<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Home | META</title>
    <link rel="icon" href="/static/favicon.svg" type="image/x-icon"/>
    <link rel="stylesheet" href="/static/style/main.css"/>
    <link rel="stylesheet" href="/static/style/home.css"/>
</head>
<body onload="write_text()">
<header>
    <nav id="nav-bar">
        <a href="/">
            <img src="/static/image/meta_full(white).svg" id="meta-full-svg">
        </a>
        <button id="menu-btn">
            <svg id="menu-svg" width="400" height="400" viewBox="0 0 40 40">
                <path id="menu-svg1" fill="#FFFFFF" fill-rule="evenodd" clip-rule="evenodd" d="M33.3327 10H6.66602V15H33.3327V10Z"></path>
                <path fill="#FFFFFF" fill-rule="evenodd" clip-rule="evenodd" d="M6.66602 18.3317H33.3327V23.3317H6.66602V18.3317Z"></path>
                <path id="menu-svg2" fill="#FFFFFF" fill-rule="evenodd" clip-rule="evenodd" d="M6.66602 26.665H33.3327V31.665H6.66602V26.665Z"></path>
            </svg>
        </button>
    </nav>
</header>
<ul id="menu">
    {#  여기다가 뭐 넣지...  #}
</ul>
<div id="content">
    <section class="container">
        <div class="header-wrap">
            <div class="title">
                <div class="auto-text">
{#                    THE FREE SPACE #}
                </div>
                <div class="auto-text">
{#                    FOR CREATION.#}
                </div>
            </div>
            <div class="description auto-text">
{#                META는 공학을 향한 열정과 창의성으로 자유롭게 프로젝트를 진행합니다.#}
{#                함께 뛰어난 아이디어를 현실로 구현하고, 새로운 기술과 경험을 서로 공유하는 공학을 위한 창작의 공간입니다.#}
            </div>
            <div class="button-wrap">
                <button id="event-btn">부스 보러 가기</button>
            </div>
        </div>

        <img id="icon" src="/static/image/meta_icon(white).svg"/>
    </section>
</div>
<footer>
    <div>
        <img src="/static/image/seoulhs.png">
        <div>
            서울고등학교 기계공학부
            <br>
            META
        </div>
    </div>
</footer>
<script src="/static/script/menu.js"></script>
<script src="/static/script/texting_anim.js"></script>
</body>
</html>